<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><%= product.name %></h1>
    <p><%= product.price %></p>
    <p><a href="/products?category=<%= product.category %>"><%= product.category %></a></p>
    <a href="/farms/<%=product.farm._id %>">Farm: <%= product.farm.name %></a>
    <br />

    <a href="/products"> All prods</a>
    <a href="/products/<%=product._id%>/edit">Edit</a>
    <form action="/products/<%=product._id%>?_method=DELETE" method="POST">
      <button>Delete</button>
    </form>
  </body>
</html>
